[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Saisudan
[access "refs/for/refs/*"]
	read = group user/Saisudan
	push = group user/Saisudan
	label-Code-Review = -2..+2 group user/Saisudan
	label-Verified = -1..+1 group user/Saisudan
	rebase = group user/Saisudan
	removeReviewer = group user/Saisudan
	submit = group user/Saisudan
[access "refs/heads/*"]
	read = group user/Saisudan
	create = group user/Saisudan
	push = +force group user/Saisudan
	pushMerge = group user/Saisudan
[access "refs/tags/*"]
	push = group user/Saisudan
	push = +force group user/Saisudan
